[Unit] 
Description=Service to download and jump-cut TUM-live and TUM-Panopto videos
Wants=tum_video_scraper.timer

[Service] 
ExecStart=/bin/tum_video_scraper /mnt/NAS/Video/Lectures/ --tum_live DWT:SoSe2021DWT:COMB --tum_live2 GRNVS:2021/S/grnvs:COMB --panopto THEO:a150c6d5-6cbe-40b0-8dc1-ad0a00967dfb AGT:56d3768c-f81c-45ea-9949-ad0500e7a73b MED:0994a2bf-b17c-40d8-90ce-ad1200b33904 -u ge35quy -p "hunter2"
WorkingDirectory=/tmp/

[Install] 
WantedBy=multi-user.target
